<template>
  <section id="contact-us">
    <h1>¡Ponerse en contacto!</h1>

    <!-- contact info -->
    <div class="container">
      <div class="contact-info">
        <div class="specific-info">
          <i class="fas fa-home"></i>
          <div>
            <p class="title">4th San Miguel</p>
            <p class="subtitle">Lima</p>
          </div>
        </div>
        <div class="specific-info">
          <i class="fas fa-phone-alt"></i>
          <div>
            <a href="">+963110142</a>
            <br />
          
            <p class="subtitle">Lun a Vie 9am-6pm</p>
          </div>
        </div>
        <div class="specific-info">
          <i class="fas fa-envelope-open-text"></i>
          <div>
            <a href="mailto:info@alphayo.co.ke">
              <p class="title">jhpariponce@gmail.com</p>
            </a>
            <p class="subtitle">Dudas y consultas!</p>
          </div>
        </div>
      </div>

      <!-- Contact Form -->
      <div class="contact-form">
        <form action="" method="">
          <!-- Name -->
          <label for="name"><span>Nombres</span></label>
          <input type="text" id="name" name="name" value="" />

          <!-- Email -->
          <label for="email"><span>Email</span></label>
          <input type="text" id="email" name="email" value="" />

          <!-- Subject -->
          <label for="subject"><span>Subject</span></label>
          <input type="text" id="Subject" name="subject" value="" />

          <!-- Message -->
          <label for="message"><span>Mensaje</span></label>
          <textarea id="message" name="message"></textarea>

          <!-- Button -->
          <input type="submit" value="Enviar" />
        </form>
      </div>
    </div>
  </section>
</template>